@charset "UTF-8";
.titulo-tabla-talles, .titulo-preguntas, .pago, .titulo-politicas, .titulo-terminos, .titulo-ayuda, .titulo-catalogo, .titulo-productos, .titulo-kanki {
  font-family: "PT Serif", serif;
  font-size: 2em;
  margin-top: 2em;
}

.li-estilo li a, .li-estilo {
  color: #daa520;
  transition: all 1s;
}
.li-estilo li a:hover, .li-estilo:hover {
  color: rgb(227, 143, 33);
}

.titulo-tabla-talles, .titulo-preguntas, .pago, .titulo-politicas, .titulo-terminos, .titulo-ayuda, .titulo-catalogo, .titulo-productos, .titulo-kanki {
  font-family: "PT Serif", serif;
  font-size: 2em;
  margin-top: 2em;
}

.li-estilo li a, .li-estilo {
  color: #daa520;
  transition: all 1s;
}
.li-estilo li a:hover, .li-estilo:hover {
  color: rgb(227, 143, 33);
}

/*Estilo section 1 index*/
.video-div {
  border: 5px double #000;
  width: 100%;
}

.titulo-kanki {
  text-align: center;
  transition: all 1s;
}
.titulo-kanki:hover {
  color: rgb(227, 143, 33);
  transform: translateX(-1em);
}

.parrafo-kanki {
  margin-top: 2em;
}

/*ESTILO DE LOGO WSP */
.wsp-logo {
  width: 5%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 80%;
  transition: all 5s;
}
.wsp-logo:hover {
  transform: rotateY(360deg);
  cursor: help;
}

/*Fin de estilo de sección 1 */ /**************/
/* Comienzo de estilo de sección 2*/
.titulo-productos {
  text-align: center;
  padding: 1em;
  color: #000;
  background-color: #fff;
  border: 5px double rgb(227, 143, 33);
  transition: all 2s;
}
.titulo-productos:hover {
  color: rgb(227, 143, 33);
  background-color: #161616;
  border: 5px solid #fff;
  outline: 5px solid #000;
}

/*ESTILO IMAGENES DE CAMISETAS de carrousel*/
.carrousel-estilo {
  background-color: #161616;
}

.sec-camisetas {
  width: 30%;
  border: 2px solid #000;
}

.estilo-texto-img {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cami-boc {
  color: lightblue;
}

.cami-riv {
  color: salmon;
}

.cami-die {
  color: rgb(39, 129, 219);
}

/*ESTILO DE REDIRECCIONADOR A CATALAGO.HTML*/
.productos-link-a-catalogo {
  margin: 1em;
  font-size: 1em;
  font-family: "PT Serif", serif;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  transition: all 1s;
  border-radius: 50px;
}
.productos-link-a-catalogo:hover {
  text-align: center;
  margin: 1em;
  font-size: 1em;
  font-family: "PT Serif", serif;
  color: rgb(227, 143, 33);
  background-color: #fff;
  border: 2px solid #000;
  transition: all 1s;
  border-radius: 50px;
}
.productos-link-a-catalogo a {
  text-decoration: none;
  color: rgb(227, 143, 33);
  margin-left: 0.2em;
  display: inline-block;
  transition: all 0.5s;
}
.productos-link-a-catalogo a:hover {
  color: #000;
  border: none;
}

/* Fin de estilo de sección 2*/ /*************************/
/* Comienzo de estilo de sección 3*/
/*ESTILO DE CONTENEDOR DE PARTE ENVIO*/
.iframe-div {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
}

/*ESTILO TEXTO ENVIO*/
.envios-titulo {
  text-align: center;
  font-size: 1.4em;
  font-family: "PT Serif", serif;
  margin-top: 3em;
  transition: all 0.5s;
}
.envios-titulo:hover {
  color: rgb(227, 143, 33);
  transform: translateX(-0.5em);
}

.envios-texto {
  color: #161616;
  margin-top: 2em;
}

.acordeon-estilo {
  margin: 4em;
}

.boton-acordeon {
  color: #000;
  background-color: rgb(227, 143, 33);
  border: 2px solid #000;
  transition: all 1s;
}

/* Fin de estilo de sección 3*/
.titulo-tabla-talles, .titulo-preguntas, .pago, .titulo-politicas, .titulo-terminos, .titulo-ayuda, .titulo-catalogo, .titulo-kanki, .titulo-productos {
  font-family: "PT Serif", serif;
  font-size: 2em;
  margin-top: 2em;
}

.li-estilo li a, .li-estilo {
  color: #daa520;
  transition: all 1s;
}
.li-estilo li a:hover, .li-estilo:hover {
  color: rgb(227, 143, 33);
}

/*COMIENZO DE ESTILO DE CATALOGO*/
/*ESTILO TITULO*/
.titulo-catalogo {
  color: #fff;
  background-color: #000;
  border: 4px double #f8f9fa;
  transition: all 1s;
  border-radius: 50px;
}
.titulo-catalogo:hover {
  color: rgb(227, 143, 33);
}

/*CONTAINERS*/
.container-img .products-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-cards {
  margin-top: 2em;
  margin-bottom: 2em;
}

/*ESTILO DE IMGS*/
.images-catalogo {
  width: 100%;
  height: 80%;
  margin: 1em auto;
  border: 2px solid #000;
  transition: all 0.5s;
}
.images-catalogo:hover {
  cursor: zoom-in;
  transform: scale(110%);
}

.card {
  outline: 2px solid rgb(227, 143, 33);
}

.div-talle {
  color: aliceblue;
  background-color: #161616;
  border: 2px solid #000;
  transition: all 1.5s;
  margin: 2em;
  cursor: default;
}
.div-talle:hover {
  color: rgb(227, 143, 33);
}
.div-talle h2 {
  font-size: 1.5em;
  font-family: "PT Serif", serif;
}
.div-talle a {
  text-decoration: none;
  color: rgb(227, 143, 33);
}

.titulo-tabla-talles, .titulo-preguntas, .pago, .titulo-politicas, .titulo-terminos, .titulo-ayuda, .titulo-kanki, .titulo-productos, .titulo-catalogo {
  font-family: "PT Serif", serif;
  font-size: 2em;
  margin-top: 2em;
}

.li-estilo li a, .li-estilo {
  color: #daa520;
  transition: all 1s;
}
.li-estilo li a:hover, .li-estilo:hover {
  color: rgb(227, 143, 33);
}

/*ESTILO DE HTML AYUDA*/
.titulo-ayuda {
  text-align: center;
  color: #f8f9fa;
  background-color: #161616;
  border: 5px double #fff;
  transition: all 0.5s;
}
.titulo-ayuda:hover {
  transform: translateX(-0.3em);
  color: rgb(227, 143, 33);
}

.titulo-terminos {
  margin-left: auto;
  margin-right: auto;
  color: rgb(227, 143, 33);
  transition: all 0.5s;
}
.titulo-terminos:hover {
  transform: translateX(-0.3em);
}

.titulo-politicas {
  transition: all 0.5s;
}
.titulo-politicas:hover {
  color: rgb(227, 143, 33);
  transform: translateX(-0.3em);
}

/*ESTILOS MEDIOS DE PAGO*/
.iconos-medios-pago {
  width: 10%;
  margin: 2em;
}

.pago {
  transition: all 1s;
}
.pago:hover {
  color: #daa520;
}

.titulo-preguntas {
  transition: all 1.5s;
}
.titulo-preguntas:hover {
  color: rgb(227, 143, 33);
  transform: translateY(-1em);
}

/*ESTILO DE TABLA*/
.table {
  margin-top: 4em;
}

/*ESTILO BOTÓN*/
.boton-volver {
  color: #000;
  background-color: rgb(227, 143, 33);
  border: 2px solid #161616;
  transition: all 1.5s;
  margin: 2em;
}
.boton-volver:hover {
  background-color: #161616;
}
.boton-volver a {
  color: #000;
  text-decoration: none;
  transition: 1.5s;
}
.boton-volver a:hover {
  color: rgb(227, 143, 33);
}

.titulo-kanki, .titulo-productos, .titulo-catalogo, .titulo-ayuda, .titulo-terminos, .titulo-politicas, .pago, .titulo-preguntas, .titulo-tabla-talles {
  font-family: "PT Serif", serif;
  font-size: 2em;
  margin-top: 2em;
}

.li-estilo li a, .li-estilo {
  color: #daa520;
  transition: all 1s;
}
.li-estilo li a:hover, .li-estilo:hover {
  color: rgb(227, 143, 33);
}

/*Estilo de Body*/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fffff1;
}

/*Estilo de NAV*/
ul li a {
  font-family: "Macondo", cursive;
}

.menu-hamburguesa {
  background-color: #daa520;
}
.menu-hamburguesa:hover {
  background-color: rgb(227, 143, 33);
}

/* Comienzo FOOTER*/
/*ESTILO DE FOOTER*/
footer {
  padding: 2em;
  background-color: #161616;
  border: 5px double #000000;
}

.footer-images-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.footer-images-container i {
  color: #fff;
  margin: 1em auto;
  transition: all 0.5s;
}
.footer-images-container i:hover {
  color: rgb(227, 143, 33);
}

/*ESTILO DE TEXTO DE FOOTER*/
.text-footer-container {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  padding-top: 2em;
}

.text-footer {
  text-align: center;
  font-family: "PT Serif", serif;
  color: #fff;
  transition: all 1s;
}
.text-footer:hover {
  color: rgb(227, 143, 33);
  cursor: default;
}

/*MEDIA Q*/
@media (max-width: 1000px) {
  .redireccion-catalogo {
    display: none;
  }
  .contenedor-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
  }
  .wsp-logo {
    width: 8%;
  }
  .text-footer {
    font-size: 0.4em;
  }
  .text-footer:nth-child(3) {
    margin-right: 5em;
  }
}

/*# sourceMappingURL=style.css.map */
