@import'../base/variables';
@import'../base/extend';
@import'../base/mixins';

/*Estilo section 1 index*/

.video-div {
    border: 5px double #000;
    width: 100%;   
}

.titulo-kanki {

    text-align: center;
    @extend %estilotitulo;
    transition: all 1s;
    &:hover{
        color: $color-principal-kanki;
        transform: translateX(-1em); 
    }}

 
    

.parrafo-kanki{
        margin-top: 2em;
 }

 /*ESTILO DE LOGO WSP */


.wsp-logo { 
    
    width: 5%;
    
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 80%;
    transition: all 5s;  
    &:hover{
        transform: rotateY(360deg);
        cursor: help; 
    }
}


/*Fin de estilo de sección 1 *//**************/


/* Comienzo de estilo de sección 2*/

.titulo-productos{
    text-align: center;
    padding: 1em;
    @extend %estilotitulo;
    @include colores(#000,#fff,5px double $color-principal-kanki,all 2s);
    &:hover{
        color:$color-principal-kanki ;
        background-color: $color-footer;
        border: 5px solid #fff;
        outline: 5px solid #000;
    }
}

/*ESTILO IMAGENES DE CAMISETAS de carrousel*/

.carrousel-estilo{
    background-color: $color-footer;
}

.sec-camisetas{
    width: 30%;
  
    border: 2px solid #000000;
   
}

.estilo-texto-img {
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cami-boc{
    color: lightblue;
}
.cami-riv{
    color: salmon;
}

.cami-die{
    color: rgb(39, 129, 219);
}

/*ESTILO DE REDIRECCIONADOR A CATALAGO.HTML*/

.productos-link-a-catalogo{
  
   
    margin: 1em;
    font-size: 1em;
    font-family: $fuente-titulo;
    @include colores(#fff,#000,2px solid #000,all 1s);
    border-radius: 50px;
    

    &:hover{
        text-align: center;
        margin: 1em;
        font-size: 1em;
        font-family: $fuente-titulo;
        @include colores($color-principal-kanki, #fff,2px solid #000,all 1s);
        border-radius: 50px;
    }

    a {
        text-decoration: none;
        color: $color-principal-kanki;
       
        
        margin-left: .2em;
        display: inline-block;
        transition: all .5s;
        &:hover{color: #000000;
            border: none;}
    }
  

}

/* Fin de estilo de sección 2*//*************************/
/* Comienzo de estilo de sección 3*/
/*ESTILO DE CONTENEDOR DE PARTE ENVIO*/
.iframe-div{
    
    display: flex;
    width: 100%;
    margin-bottom: 2em;
   
    

}
/*ESTILO TEXTO ENVIO*/

.envios-titulo{
  
    text-align: center;
    font-size: 1.4em;
    font-family: $fuente-titulo;
    margin-top: 3em;
    transition: all .5s;
    &:hover{
        color: $color-principal-kanki;
        transform: translateX(-.5em); 
    }
   
   
}

.envios-texto{
    color: $color-footer;
    margin-top: 2em;

}

.acordeon-estilo{
    margin: 4em;
}

.boton-acordeon{
  @include colores(#000, $color-principal-kanki,2px solid #000,all 1s)
      
  
}
/* Fin de estilo de sección 3*/